<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="civicNumber" value=""/>
    <!-- test -->
    <add key="IssuerCertificateThumbPrint" value="b581b136673317a3422d2e4b4f6bf3f77af34798" />
    <add key="RPCertificateThumbPrint" value="9312d6e82caa742e5210293f333c397b02733425" />
    <add key="Password" value="qwerty123" />
    <add key="BaseUrl" value="https://appapi2.test.bankid.com/rp/v5.1" />
    <add key="RequirementCertificate" value="1.2.3.4.25" />
    <!-- prod -->
    <!--
    <add key="IssuerCertificateThumbPrint" value="" />
    <add key="RPCertificateThumbPrint" value="" />
    <add key="Password" value="" />
    <add key="BaseUrl" value="" />
    <add key="RequirementCertificate" value="1.2.752.78.1.5"/>
    -->
    

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>